body {
    padding: 0;
    margin: 0;
}

html, body, a, p, ul, ol, li, div {
    font-family: "Barlow", sans-serif;
}

.bg-grey {
    background-color: grey;
}

.navbar-toggler-icon {
    background: url(./menu.png);
    background-size: 100%;
}